* { 
    margin: 0; 
    padding: 0; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

body {
    height: 100vh;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.header {
    text-align: center;
}

.images {
    display: flex;
    justify-content: space-between;
    align-self: center;
    gap: 40px;
}

.image {
    height: 150px;
    width: auto;
    border-radius: 5px;
    transition: all 0.07s;
}

.image:hover {
    transform: scale(1.1);
}

.resultText {
    text-align: center;
    font-size: 32px;
    font-weight: 800;
}

.footerContainer {
    text-align: center;